n8n/workflows/wf-a-detector.json
{
  "updatedAt": "2026-04-28T00:49:33.595Z",
  "createdAt": "2026-04-27T23:05:35.769Z",
  "id": "bLhdS9V4FioCdVZI",
  "name": "wf-a-detector",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "sticky-readme",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        60
      ],
      "parameters": {
        "color": 5,
        "width": 2540,
        "height": 280,
        "content": "## WF-A · Detector — триггер всей системы\n\n**Что делает простым языком**\nКаждые 15 секунд читает список активных заказов в админке call-center, сравнивает с тем, что у нас в БД, и порождает события:\n• появился новый заказ → `new_order` → INSERT в `order_events` → (если delivery) Execute Workflow `wf-b-welcome`\n• у существующего изменился статус → `status_changed` → UPDATE → (если to_status «в пути» и delivery) Execute Workflow `wf-c-in-transit`\n• исчез из листинга → `order_closed` → POST `/v5/order/status` → Parse Final → UPDATE → (если completed и delivery) Execute Workflow `wf-d-nps`\n\nЕсли listing-API недоступен или 401 — алерт админу через WF-E.\n\n**Тех стек**\nSchedule (15s) → HTTP GET listing → Code (validate, strip HTML) → Postgres SELECT → Code (diff) → Switch (event_type) → 3 ветки Postgres/HTTP + Execute Workflow в B/C/D.\nКреды: `cred_callcenter_admin`, `cred_datafood_public`, `cred_postgres`. Зависимые WF: `gm8yPsQ0vZA7yNx3` (B), `NFKSGYx8koD1V55o` (C), `KeQBljsKESqkPTX3` (D), `O9Rt4HG7kDqxBrCv` (E)."
      }
    },
    {
      "id": "node-schedule",
      "name": "Every 15s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        360
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "node-http-listing",
      "name": "Fetch Listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        360
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "https://sushimarket-tr.datafood.tech/call-center/api/orders__deprecated",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "activ"
            },
            {
              "name": "type_select_cities",
              "value": "include"
            },
            {
              "name": "_",
              "value": "={{ Date.now() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Origin",
              "value": "https://call-center-tr.sushi-market.com"
            },
            {
              "name": "Referer",
              "value": "https://call-center-tr.sushi-market.com/"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "tries": 3,
            "waitBetweenTries": 2000
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "J2VGKR5XEitklRVf",
          "name": "cred_callcenter_admin"
        }
      }
    },
    {
      "id": "node-listing-error",
      "name": "Alert Listing Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        540
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O9Rt4HG7kDqxBrCv",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reason": "api_error_callcenter",
            "order_id": "0",
            "error": "={{ ($json && $json.error && $json.error.message) || JSON.stringify($json).slice(0, 200) }}",
            "context": "={{ JSON.stringify({source:'Fetch Listing', httpCode: ($json && $json.error && $json.error.httpCode) || null}) }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "node-validate",
      "name": "Validate Listing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        360
      ],
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\nlet payload = input;\nif (typeof input === 'string') {\n  try { payload = JSON.parse(input); } catch (e) {\n    throw new Error('Listing body is not JSON: ' + String(input).slice(0, 200));\n  }\n}\nif (typeof payload?.data === 'string') {\n  try { payload = JSON.parse(payload.data); } catch (e) {\n    throw new Error('Listing.data is not JSON: ' + String(payload.data).slice(0, 200));\n  }\n}\nconst rows = Array.isArray(payload?.data) ? payload.data : null;\nif (rows === null) {\n  throw new Error('Listing response has no data array. Got keys: ' + Object.keys(payload || {}).join(','));\n}\nfunction stripHtml(s) {\n  if (typeof s !== 'string') return '';\n  return s.replace(/<[^>]*>/g, ' ').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nfunction extractName(s) {\n  const stripped = stripHtml(s);\n  // Убираем телефон-подобные последовательности (8+ цифр со знаками-разделителями).\n  const noPhone = stripped.replace(/[\\d+\\-() ]{8,}/g, ' ').replace(/\\s+/g, ' ').trim();\n  return noPhone || null;\n}\nlet skippedBracketed = 0;\nconst orders = rows.map(r => {\n  const cleanName = extractName(r.ClientName);\n  // Системные/тестовые заказы маркируются префиксом в []: [Web-Se], [Test], etc.\n  // Их игнорируем — не пишем в БД, не отправляем сообщения.\n  if (cleanName && /[\\[\\]]/.test(cleanName)) {\n    skippedBracketed += 1;\n    return null;\n  }\n  return {\n    order_id: Number(r.id),\n    client_phone: typeof r.ClientPhone === 'string' ? r.ClientPhone.replace(/[^0-9]/g, '') : null,\n    client_name: cleanName,\n    order_type: typeof r.order_type === 'number' ? r.order_type : null,\n    status_raw: stripHtml(r.Status).slice(0, 100)\n  };\n}).filter(o => o && Number.isFinite(o.order_id));\nif (skippedBracketed > 0) {\n  console.log(`[wf-a] skipped ${skippedBracketed} bracketed-name orders (system/test)`);\n}\nreturn [{ json: { orders, count: orders.length, skipped_bracketed: skippedBracketed, fetched_at: new Date().toISOString() } }];"
      }
    },
    {
      "id": "node-load-known",
      "name": "Load Known",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        860,
        360
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT order_id, last_status, client_phone, client_name, order_type, welcome_sent_at, transit_sent_at, completed_at, feedback_sent_at FROM order_events WHERE last_status NOT IN ('completed','canceled') AND last_seen_at > NOW() - INTERVAL '7 days'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-diff",
      "name": "Compute Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        360
      ],
      "parameters": {
        "jsCode": "const listing = ($('Validate Listing').first()?.json?.orders) || [];\nconst known   = $('Load Known').all().map(i => i.json).filter(j => j && j.order_id != null);\nconst byIdListing = new Map(listing.map(o => [o.order_id, o]));\nconst byIdKnown   = new Map(known.map(k => [Number(k.order_id), k]));\nconst events = [];\nfor (const o of listing) {\n  const k = byIdKnown.get(o.order_id);\n  if (!k) {\n    events.push({\n      event_type: 'new_order',\n      order_id: o.order_id,\n      client_phone: o.client_phone,\n      client_name: o.client_name,\n      order_type: o.order_type,\n      status_raw: o.status_raw,\n      detected_at: new Date().toISOString()\n    });\n    continue;\n  }\n  if (String(o.status_raw) !== String(k.last_status)) {\n    events.push({\n      event_type: 'status_changed',\n      order_id: o.order_id,\n      client_phone: o.client_phone || k.client_phone,\n      client_name: o.client_name,\n      order_type: o.order_type ?? k.order_type,\n      from_status: k.last_status,\n      to_status: o.status_raw,\n      status_raw: o.status_raw,\n      detected_at: new Date().toISOString()\n    });\n  }\n}\nfor (const k of known) {\n  if (!byIdListing.has(Number(k.order_id))) {\n    events.push({\n      event_type: 'order_closed',\n      order_id: Number(k.order_id),\n      client_phone: k.client_phone,\n      client_name: k.client_name || null,\n      order_type: k.order_type,\n      last_known_status: k.last_status,\n      detected_at: new Date().toISOString()\n    });\n  }\n}\nif (events.length === 0) {\n  return [{ json: { event_type: '_no_events', listing_count: listing.length, known_count: known.length, fetched_at: new Date().toISOString() } }];\n}\nreturn events.map(e => ({ json: e }));"
      }
    },
    {
      "id": "node-route",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1300,
        360
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "new_order",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "status_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status_changed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "order_closed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_closed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      }
    },
    {
      "id": "node-insert-new",
      "name": "Insert New Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO order_events(order_id, client_phone, client_name, order_type, last_status, last_seen_at) VALUES ($1::bigint, NULLIF($2, '-'), NULLIF($3, '-'), NULLIF($4, 0)::smallint, $5, NOW()) ON CONFLICT (order_id) DO UPDATE SET last_status = EXCLUDED.last_status, last_seen_at = NOW(), client_phone = COALESCE(order_events.client_phone, EXCLUDED.client_phone), client_name = COALESCE(order_events.client_name, EXCLUDED.client_name)",
        "options": {
          "queryReplacement": "={{ $json.order_id }},={{ $json.client_phone || '-' }},={{ ($json.client_name || '-').replace(/,/g, ' ') }},={{ Number($json.order_type) || 0 }},={{ $json.status_raw || '-' }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-welcome-gate",
      "name": "Welcome Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Number($json.order_type) || 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-call-b",
      "name": "Run WF-B",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1960,
        100
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gm8yPsQ0vZA7yNx3",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "client_phone": "={{ $json.client_phone }}",
            "client_name": "={{ $json.client_name }}",
            "order_type": "={{ $json.order_type }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "node-update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        360
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE order_events SET last_status = $1, last_seen_at = NOW() WHERE order_id = $2::bigint",
        "options": {
          "queryReplacement": "={{ $json.status_raw || $json.to_status || '-' }},={{ $json.order_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-transit-gate",
      "name": "InTransit Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "delivery",
              "leftValue": "={{ Number($json.order_type) || 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "in-transit-words",
              "leftValue": "={{ String($json.to_status || '').toLowerCase() }}",
              "rightValue": "достав|курьер в пути|курьер выехал",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-call-c",
      "name": "Run WF-C",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1960,
        360
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NFKSGYx8koD1V55o",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "client_phone": "={{ $json.client_phone }}",
            "client_name": "={{ $json.client_name }}",
            "order_type": "={{ $json.order_type }}",
            "to_status": "={{ $json.to_status }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "node-confirm-closed",
      "name": "Confirm Closed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        620
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://office-tr.sushi-market.com/api/app/v5/order/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"orders\":[{{ $json.order_id }}]}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "OvipNoJ83kkncmrA",
          "name": "cred_datafood_public"
        }
      }
    },
    {
      "id": "node-parse-final",
      "name": "Parse Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        620
      ],
      "parameters": {
        "jsCode": "// Parse Final обрабатывает КАЖДЫЙ item Confirm Closed отдельно.\n// Источник order_id/client_* — соответствующий item Compute Diff (через itemMatching).\n\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const body = items[i]?.json || {};\n  const src = $('Compute Diff').itemMatching(i)?.json || {};\n  const orderId = Number(src.order_id);\n  let final;\n  if (body.error) {\n    final = 'canceled';\n  } else {\n    const result = Array.isArray(body.result) ? body.result : [];\n    const row = result.find(r => Number(r.id) === orderId) || {};\n    final = String(row.status || 'canceled');\n  }\n  out.push({\n    json: {\n      order_id: orderId,\n      client_phone: src.client_phone,\n      client_name: src.client_name,\n      order_type: src.order_type,\n      final_status: final,\n      is_completed: final === 'completed',\n      completed_at: new Date().toISOString()\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "node-update-final",
      "name": "Update Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1960,
        620
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE order_events SET last_status = $1, last_seen_at = NOW(), completed_at = CASE WHEN $1 = 'completed' AND completed_at IS NULL THEN NOW() ELSE completed_at END WHERE order_id = $2::bigint",
        "options": {
          "queryReplacement": "={{ $json.final_status || '-' }},={{ $json.order_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-completed-gate",
      "name": "Completed Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-completed",
              "leftValue": "={{ $json.is_completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "delivery",
              "leftValue": "={{ Number($json.order_type) || 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-call-d",
      "name": "Run WF-D",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2400,
        620
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KeQBljsKESqkPTX3",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "client_phone": "={{ $json.client_phone }}",
            "client_name": "={{ $json.client_name }}",
            "order_type": "={{ $json.order_type }}",
            "completed_at": "={{ $json.completed_at }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Every 15s": {
      "main": [
        [
          {
            "node": "Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Listing": {
      "main": [
        [
          {
            "node": "Validate Listing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Listing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Listing": {
      "main": [
        [
          {
            "node": "Load Known",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Known": {
      "main": [
        [
          {
            "node": "Compute Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Diff": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Insert New Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Order": {
      "main": [
        [
          {
            "node": "Welcome Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Gate": {
      "main": [
        [
          {
            "node": "Run WF-B",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "InTransit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InTransit Gate": {
      "main": [
        [
          {
            "node": "Run WF-C",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Confirm Closed": {
      "main": [
        [
          {
            "node": "Parse Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final": {
      "main": [
        [
          {
            "node": "Update Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final": {
      "main": [
        [
          {
            "node": "Completed Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed Gate": {
      "main": [
        [
          {
            "node": "Run WF-D",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 15s": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "99dc70fd-6d01-4779-8fe5-d131cd8ef063",
  "activeVersionId": null,
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-27T23:05:35.773Z",
      "createdAt": "2026-04-27T23:05:35.773Z",
      "role": "workflow:owner",
      "workflowId": "bLhdS9V4FioCdVZI",
      "projectId": "4P7y04n69k3wJV0z",
      "project": {
        "updatedAt": "2026-02-16T19:47:17.909Z",
        "createdAt": "2026-02-16T19:45:47.794Z",
        "id": "4P7y04n69k3wJV0z",
        "name": "Ivan Ptichkin <miriu2100@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6056908c-022f-4951-8bad-8a1e3a04c7d7",
        "projectRelations": [
          {
            "updatedAt": "2026-02-16T19:45:47.799Z",
            "createdAt": "2026-02-16T19:45:47.799Z",
            "userId": "6056908c-022f-4951-8bad-8a1e3a04c7d7",
            "projectId": "4P7y04n69k3wJV0z",
            "user": {
              "updatedAt": "2026-04-27T21:54:23.000Z",
              "createdAt": "2026-02-16T19:45:47.783Z",
              "id": "6056908c-022f-4951-8bad-8a1e3a04c7d7",
              "email": "miriu2100@yandex.ru",
              "firstName": "Ivan",
              "lastName": "Ptichkin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-03-14T08:45:43.660Z",
                "personalization_survey_n8n_version": "2.4.6"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "vt0fGM1aWlOUiZCO",
                "userActivated": true,
                "userActivatedAt": 1773522000055,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1775830866741
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}