n8n/workflows/wf-c-in-transit.json
{
  "updatedAt": "2026-04-28T00:21:55.428Z",
  "createdAt": "2026-04-27T23:05:38.380Z",
  "id": "NFKSGYx8koD1V55o",
  "name": "wf-c-in-transit",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "sticky-readme",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        60
      ],
      "parameters": {
        "color": 4,
        "width": 2120,
        "height": 280,
        "content": "## WF-C · InTransit — «курьер в пути» (AC-2, AC-7)\n\n**Что делает простым языком**\nКогда WF-A видит переход статуса в «доставляется/курьер выехал», он зовёт сюда. WF-C:\n1. Берёт состояние из БД, проверяет: доставка ли (`order_type=1`), не отправляли ли уже (`transit_sent_at IS NULL`).\n2. Идёт за деталями заказа в публичный API → пытается определить `zone_id` (TBD-2: пробуем `delivery.zone_id`, `delivery.zone`, `shop.zone_id`, в последнюю очередь — `shop.id` как heuristic).\n3. Дёргает `/v1/get_custom_delivery_time/{zone}` за ETA в минутах.\n4. Если ETA нашёлся — формирует «Курьер выехал, ~XX мин» и (в dry-run) пишет в `notification_log`. Если нет — `transit_skipped=true` + эскалация в WF-E (`zone_not_configured`).\n5. Ставит `transit_sent_at = NOW()`.\n\n**Тех стек**\nExecute Workflow trigger → Code Config → Postgres SELECT → IF (idempotency+delivery) → HTTP GET get_for_phone → Code Resolve Zone → HTTP GET get_custom_delivery_time/{zone} (onError continue) → IF (minutes set?) → Code Format → IF dry_run → Postgres INSERT/UPDATE\nКреды: `cred_datafood_public`, `cred_postgres`, `cred_meta_whatsapp` (TBD)."
      }
    },
    {
      "id": "node-trigger",
      "name": "Receive Status Change",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        480
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "order_id",
              "type": "number"
            },
            {
              "name": "client_phone"
            },
            {
              "name": "client_name"
            },
            {
              "name": "order_type",
              "type": "number"
            },
            {
              "name": "to_status"
            },
            {
              "name": "address",
              "type": "string"
            },
            {
              "name": "amount",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        480
      ],
      "parameters": {
        "jsCode": "// Единая точка управления режимами WF-C.\n//\n// dry_run=true → не шлём в WhatsApp, только пишем в notification_log.\n// OPERATOR_REDIRECT_PHONE — пока тестируем, ВСЕ клиентские сообщения летят на этот номер.\n// Когда уверены что всё работает — поставить '' или null.\n\nconst DRY_RUN = false;\nconst OPERATOR_REDIRECT_PHONE = '79000430011';\n\nconst trig = $('Receive Status Change').first().json;\nconst clientPhone = String(trig.client_phone || '').replace(/[^0-9]/g, '');\nconst targetPhone = OPERATOR_REDIRECT_PHONE || clientPhone;\n\nreturn [{\n  json: {\n    dry_run: DRY_RUN,\n    order_id: Number(trig.order_id),\n    client_phone: clientPhone,\n    target_phone: targetPhone,\n    is_redirected: !!OPERATOR_REDIRECT_PHONE,\n    client_name: (trig.client_name && String(trig.client_name).trim()) || null,\n    order_type: Number(trig.order_type) || null,\n    to_status: String(trig.to_status || '')\n  }\n}];"
      }
    },
    {
      "id": "node-load-state",
      "name": "Load Order State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        480
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT order_id, last_status, client_phone, order_type, transit_sent_at, transit_skipped FROM order_events WHERE order_id = $1::bigint LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.order_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-should-send",
      "name": "Should Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "delivery",
              "leftValue": "={{ Number($('Config').first().json.order_type) }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "not-yet-sent",
              "leftValue": "={{ $('Load Order State').first().json.transit_sent_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-fetch-details",
      "name": "Fetch Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "https://office-tr.sushi-market.com/api/app/v1/client/orders/get_for_phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "order_id",
              "value": "={{ $('Config').first().json.order_id }}"
            },
            {
              "name": "order_phone",
              "value": "={{ $('Config').first().json.client_phone }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "tries": 2,
            "waitBetweenTries": 1500
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "OvipNoJ83kkncmrA",
          "name": "cred_datafood_public"
        }
      }
    },
    {
      "id": "node-resolve-zone",
      "name": "Resolve Zone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        380
      ],
      "parameters": {
        "jsCode": "// TBD-2: явного zone_id в публичном API мы не нашли.\n// Пробуем цепочку кандидатов; первый существующий и > 0 берём как zone_id.\n// Если ни один не найден — zone=null, дальше пойдём по skip-ветке.\n//\n// Если в продакшене окажется, что zone берётся из другого места —\n// поменять список candidates.\n\nconst d = $input.first()?.json || {};\nconst candidates = [\n  d?.delivery?.zone_id,\n  d?.delivery?.zone,\n  d?.zone_id,\n  d?.zone,\n  d?.shop?.zone_id,\n  d?.shop?.zone,\n  d?.shop?.id          // эвристика: shop.id как proxy для zone\n];\nconst zone = candidates.find(v => v != null && Number(v) > 0);\n\nconst cfg = $('Config').first().json;\nreturn [{\n  json: {\n    order_id: cfg.order_id,\n    client_phone: cfg.client_phone,\n    zone_id: zone ? Number(zone) : null,\n    zone_source: zone == null ? 'none' :\n      (d?.delivery?.zone_id ? 'delivery.zone_id' :\n       d?.delivery?.zone ? 'delivery.zone' :\n       d?.zone_id ? 'zone_id' :\n       d?.zone ? 'zone' :\n       d?.shop?.zone_id ? 'shop.zone_id' :\n       d?.shop?.zone ? 'shop.zone' : 'shop.id_fallback'),\n    delivery_address: d?.delivery?.address || null,\n    shop_address: d?.shop?.address || null\n  }\n}];"
      }
    },
    {
      "id": "node-have-zone",
      "name": "Zone Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-zone",
              "leftValue": "={{ Number($json.zone_id) || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "disabled": true
    },
    {
      "id": "node-fetch-eta",
      "name": "Get Delivery Time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        280
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "=https://office-tr.sushi-market.com/api/app/v1/get_custom_delivery_time/{{ $json.zone_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "OvipNoJ83kkncmrA",
          "name": "cred_datafood_public"
        }
      },
      "disabled": true
    },
    {
      "id": "node-have-eta",
      "name": "Have ETA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "minutes-set",
              "leftValue": "={{ Number($json.minutes) || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "disabled": true
    },
    {
      "id": "node-format",
      "name": "Format InTransit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        200
      ],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst CONTACT = '905527093464';\nconst block = [\n  `🇹🇷 Sadece siparişinizin durumunu bildiriyorum.`,\n  `   Herhangi bir konuda açıklama gerekirse lütfen`,\n  `   ${CONTACT} numarasına mesaj gönderin.`,\n  '',\n  `🇷🇺 Я просто уведомляю о статусе заказа.`,\n  `   Если Вам необходимо что-то уточнить —`,\n  `   напишите на номер ${CONTACT}.`,\n  '',\n  `🇬🇧 I'm just notifying you of the order status.`,\n  `   If you need to make changes in your order,`,\n  `   please text ${CONTACT}.`\n].join('\\n');\n\nreturn [{\n  json: {\n    order_id: cfg.order_id,\n    client_phone: cfg.client_phone,\n    target_phone: cfg.target_phone,\n    is_redirected: cfg.is_redirected,\n    template: 'order_in_transit_ru',\n    text: block\n  }\n}];"
      }
    },
    {
      "id": "node-dry-run",
      "name": "Dry Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-dry",
              "leftValue": "={{ $('Config').first().json.dry_run }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-log-mock",
      "name": "Log Mock Send",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2620,
        120
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notification_log(order_id, template, channel, target_phone, success, error_text) VALUES ($1::bigint, $2, 'whatsapp', $3, false, $4)",
        "options": {
          "queryReplacement": "={{ $json.order_id }},={{ $json.template }},={{ $json.target_phone || '-' }},={{ $json.is_redirected ? ('dry_run; redirected from ' + ($json.client_phone || '-')) : 'dry_run' }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-send-wa",
      "name": "Send WA via Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "http://sushimarket-dashboard:8080/api/wa/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.target_phone }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"order_id\": {{ $json.order_id }},\n  \"template\": \"{{ $json.template }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "B05luGLJmm46wVY8",
          "name": "Dashboard Internal Token"
        }
      }
    },
    {
      "id": "node-mark-sent",
      "name": "Mark Transit Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE order_events SET transit_sent_at = NOW() WHERE order_id = $1::bigint AND transit_sent_at IS NULL",
        "options": {
          "queryReplacement": "={{ $('Config').first().json.order_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      }
    },
    {
      "id": "node-mark-skipped",
      "name": "Mark Transit Skipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1740,
        540
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE order_events SET transit_skipped = TRUE WHERE order_id = $1::bigint",
        "options": {
          "queryReplacement": "={{ $('Config').first().json.order_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "VCeTigIhYateDNgR",
          "name": "cred_postgres"
        }
      },
      "disabled": true
    },
    {
      "id": "node-alert-zone",
      "name": "Alert Zone Missing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1960,
        540
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O9Rt4HG7kDqxBrCv",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reason": "zone_not_configured",
            "order_id": "={{ $('Config').first().json.order_id }}",
            "error": "ETA could not be determined for this order",
            "context": "={{ JSON.stringify({source:'WF-C', zone_source: $('Resolve Zone').first()?.json?.zone_source, zone_id: $('Resolve Zone').first()?.json?.zone_id}) }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "node-call-d-from-c",
      "name": "Run WF-D (NPS)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3060,
        200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KeQBljsKESqkPTX3",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $('Config').first().json.order_id }}",
            "client_phone": "={{ $('Config').first().json.client_phone }}",
            "client_name": "={{ $('Config').first().json.client_name }}",
            "order_type": "={{ $('Config').first().json.order_type }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Receive Status Change": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Load Order State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Order State": {
      "main": [
        [
          {
            "node": "Should Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "node": "Fetch Order Details",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Order Details": {
      "main": [
        [
          {
            "node": "Resolve Zone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Zone": {
      "main": [
        [
          {
            "node": "Format InTransit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zone Found?": {
      "main": [
        []
      ]
    },
    "Get Delivery Time": {
      "main": [
        []
      ]
    },
    "Have ETA?": {
      "main": [
        []
      ]
    },
    "Mark Transit Skipped": {
      "main": [
        [
          {
            "node": "Alert Zone Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format InTransit": {
      "main": [
        [
          {
            "node": "Dry Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run?": {
      "main": [
        [
          {
            "node": "Log Mock Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WA via Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Mock Send": {
      "main": [
        [
          {
            "node": "Mark Transit Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA via Dashboard": {
      "main": [
        [
          {
            "node": "Mark Transit Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Transit Sent": {
      "main": [
        [
          {
            "node": "Run WF-D (NPS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "versionId": "2e2640a7-754b-4854-9692-fe40c096e028",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-27T23:05:38.383Z",
      "createdAt": "2026-04-27T23:05:38.383Z",
      "role": "workflow:owner",
      "workflowId": "NFKSGYx8koD1V55o",
      "projectId": "4P7y04n69k3wJV0z",
      "project": {
        "updatedAt": "2026-02-16T19:47:17.909Z",
        "createdAt": "2026-02-16T19:45:47.794Z",
        "id": "4P7y04n69k3wJV0z",
        "name": "Ivan Ptichkin <miriu2100@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6056908c-022f-4951-8bad-8a1e3a04c7d7",
        "projectRelations": [
          {
            "updatedAt": "2026-02-16T19:45:47.799Z",
            "createdAt": "2026-02-16T19:45:47.799Z",
            "userId": "6056908c-022f-4951-8bad-8a1e3a04c7d7",
            "projectId": "4P7y04n69k3wJV0z",
            "user": {
              "updatedAt": "2026-04-27T21:54:23.000Z",
              "createdAt": "2026-02-16T19:45:47.783Z",
              "id": "6056908c-022f-4951-8bad-8a1e3a04c7d7",
              "email": "miriu2100@yandex.ru",
              "firstName": "Ivan",
              "lastName": "Ptichkin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-03-14T08:45:43.660Z",
                "personalization_survey_n8n_version": "2.4.6"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "vt0fGM1aWlOUiZCO",
                "userActivated": true,
                "userActivatedAt": 1773522000055,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1775830866741
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}